{% extends 'catalog/base.html' %}

{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Подтверждение удаления публикации</h5>
                        <hr>
                        <form method="post">
                            {% csrf_token %}
                            <p class="card-text">Вы уверены, что хотите удалить публикацию "{{ object.title }}"?</p>
                            <button type="submit" class="btn btn-danger mr-2">Подтвердить</button>
                            <a href="{% url 'blog:list' %}" class="btn btn-warning mr-2">Я передумал</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
