{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
    <div class="row">
        <div class="col-md-12 mb-4">
            <a class="btn btn-outline-primary" href="{% url 'blog:create' %}">Добавить пост</a>
        </div>
        {% for object in object_list %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.title }}</h5>
                        <p class="card-text">{{ object.body }}</p>
                        <div class="btn-group d-flex justify-content-between">
                            <a href="{% url 'blog:view' object.pk %}" class="btn btn-sm btn-outline-secondary">View</a>
                            <a href="{% url 'blog:edit' object.pk %}" class="btn btn-sm btn-outline-secondary">Edit</a>
                            <a href="{% url 'blog:delete' object.pk %}"
                               class="btn btn-sm btn-outline-secondary">Delete</a>
                        </div>
                        {% if object.is_published %}
                            <a class="btn btn-warning" href="{% url 'blog:toggle_activity' object.pk %}">Скрыть
                                публикацию</a>
                        {% else %}
                            <a class="btn btn-success" href="{% url 'blog:toggle_activity' object.pk %}">Показать
                                публикацию</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


