{% extends 'catalog/base.html' %}

{% block content %}

    <!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Email Verification Confirmation</title>
    </head>
    <body>
    <h1>Email Verification Confirmation</h1>
    {% if success %}
        <p>Your email has been successfully verified.</p>
    {% else %}
        <p>Sorry, the verification link is invalid or has expired.</p>
    {% endif %}
    </body>
    </html>

{% endblock %}
