{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
    <div class="row">
        <div class="col-md-12 mb-4">
            <a class="btn btn-outline-secondary" href="{% url 'catalog:create_product' %}">Добавить товар</a>
        </div>
        {% for object in object_list %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="image-container">
                        <img src="{{ object.product_image|mediapath }}" class="card-img-top"
                             alt="{{ object.product_name }}">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ object.product_name }}</h5>
                        <p class="card-text">{{ object.product_price|title }}</p>
                        {% if object.active_version %}
                            <p>Активная версия: {{ object.active_version.name }}
                                ({{ object.active_version.version_number }})</p>
                        {% else %}
                            <p>Нет активной версии</p>
                        {% endif %}
                        <div class="btn-group flex-column">
                            <a href="{% url 'catalog:category_products' object.product_category_id %}"
                               class="btn btn-sm btn-outline-secondary">Посмотреть все товары категории</a>
                            <a href="{% url 'catalog:product_detail' object.pk %}"
                               class="btn btn-sm btn-outline-secondary">Открыть товар</a>
                            {% if user.is_verified %}
                                <a href="{% url 'catalog:update_product' object.pk %}" class="btn btn-link">Изменить</a>
                                <a href="{% url 'catalog:delete_product' object.pk %}"
                                   class="btn btn-danger">Удалить</a>
                            {% else %}
                                <a></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

