{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
    <div class="row">
        {% for object in object_list %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="image-container" style="height: 200px; overflow: hidden;">
                        {#                        <img class="card-img-top" src="/media/{{ object.product_image }}"#}
                        <img src="{{ object.product_image|mediapath }}"/>
                        style="width: 100%; height: auto;">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ object.product_name }}</h5>
                        <p class="card-text">{{ object.product_price|title }}</p>
                        <div class="btn-group flex-column">
                            <a href="{% url 'catalog:category_products' object.product_category_id %}" type="button"
                               class="btn btn-sm btn-outline-secondary">Посмотреть все товары категории</a>
                            <a href="{% url 'catalog:product_detail' product_id=object.pk %}" type="button"
                               class="btn btn-sm btn-outline-secondary">Открыть товар</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
