{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
    <div class="row">
        {% for object in object_list %}
            {% include 'catalog/includes/inc_category.html' %}
        {% endfor %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ object.product_image|mediapath }}" alt="{{ product.product_name }}" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h1>{{ product.product_name }}</h1>
                <p>Цена: {{ product.product_price|title }}</p>
                <p>Описание: {{ product.product_description }}</p>
                {% if object.active_version %}
                    <p>Активная версия: {{ object.active_version.name }}
                        ({{ object.active_version.version_number }})</p>
                {% else %}
                    <p>Нет активной версии</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}